
/* ----general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
/* ----/general */

/* ----header */
header {
  background: yellow;
  height: 150px;
}
/* ----/header */

/* ----main*/
main {
  margin: 10px 0;
}

main::after {
  content: "";
  display: table;
  clear:both;
}
/* ----/main */

/* ----section */
section {
  float: left;
}

section:nth-child(odd) {
  width: 25%;
}

section:first-child {
  height: 400px;
  background: #d193e0;
}

section:nth-child(2) {
  background-color: #7e0e7d;
  width: calc(50% - 20px);
  height: 500px;
  margin: 0 10px;
}
/* ----/section */

/* ----article */
.article {
  height: 220px;
  background: #d193e0;
}

.article:first-child {
  margin-bottom: 10px;
}
/* ----/article */

/* ----footer */
footer {
  height: 70px;
  background: lightblue;
}
/* ----/footer */
